:root {
  --p1: #fef5ed;
  --p2: #d3e4cd;
  --p3: #adc2a9;
  --p4: #adc2a9;
  --p4: #99a799;
  --p5: white;
  --p6: #6a7e66;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  .container {
    flex-wrap: wrap;
  }

  .container__left,
  .container__right {
    max-width: 100%;
    width: 100%;
    padding: 5px;
  }
}

body {
  background-color: var(--p1);
  font-family: Montserrat;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 5%; */
}

.title {
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.container {
  background-color: var(--p3);
  /* width: min(95%, 45vw); */
  width: 60vw;
  padding: min(3vh, 1rem);
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin-bottom: 15vh;
}

.container__left,
.container__right {
  padding: max(2vw, 0.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 50%;
}

.container__right {
  background-color: var(--p4);
  border-radius: 2%;
  min-height: 100%;
}

h1 {
  font-size: 0.75em;
}

h2 {
  font-size: 0.5em;
}

.right {
  color: var(--p1);
}

.tip--button {
  padding: 1vw;
  margin: 1vw;
  background-color: var(--p4);
  color: var(--p1);
  border-style: none;
  text-align: center;
  flex-grow: 1;
  border-radius: 5px;
}

.tip__button_clicked {
  background-color: var(--p3);
}

/* .button__container button:hover {
  cursor: pointer;
  background-color: var(--p1);
  color: var(--p4);
  transition: 0.5s ease-in-out;
} */

.button__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

output {
  color: var(--p1);
}

.container__right--buttons button {
  width: 100%;
  background-color: var(--p1);
  color: var(--p4);
  border-radius: 5px;
  border-style: none;
  letter-spacing: 1vw;
  padding: 0.5vw;
  margin: 0.5vw;
}

.container__right--buttons button:hover {
  cursor: pointer;
  background-color: var(--p2);
  transition: 0.5s ease-in-out;
}

.user__input input {
  background-color: var(--p1);
  border-style: none;
  outline: none;
  text-align: right;
  width: 100%;
  padding: 5px;
  margin: 5px;
}
